@using FrontToBack.Models
@using FrontToBack.ViewModel 
@model HomeIndexVM
@{
    ViewBag.Title = "Home Page";
}

<!-- intro area -->
<div id="intro" class="animated-fadeIn">
    <div class="intro-text">
        <div class="container">
            <div class="col-md-12">
                <div id="rotator">
                    <h1><span class="1strotate">Alstar web studio, Design for life, Creativity and technology</span></h1>
                    <div class="line-spacer"></div>
                    <p><span class="2ndrotate">Web Design, Brand Identity, Promotion</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About -->
<section id="about" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>About us</h2>
                    <div class="heading-line"></div>
                    <p>@Model.About.Title</p>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-md-6 about-img">
                <img src="~/Public/img/@Model.About.Image" alt="">
            </div>

            <div class="col-md-6 content">
                @Html.Raw(Model.About.Content)
            </div>
        </div>
    </div>
</section>

<!-- Parallax 1 -->
<section style="background-image: url(/Public/img/parallax/@Model.Parallax1.BackImage);" id="parallax1" class="home-section parallax" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="color-light">
                    <h2 class="wow bounceInDown" data-wow-delay="0.5s">@Model.Parallax1.Title</h2>
                    <p class="lead wow bounceInUp" data-wow-delay="1s">@Model.Parallax1.SubTitle</p>
                </div>
            </div>
        </div>
    </div>
</section>